<!DOCTYPE html>
<html>
<head>

	<title></title>
</head>

<body>

	<h1>Bienvenue</h1>

	 	<h2> C'est bon la liste Gossip est mise à jour</h2>

    	<% gossips.each_with_index do |gossip,id| %>
        <p>
          <%= gossip.author %><br/>
          <a href="/gossips/<%= id.to_s %>/"><%= gossip.content %></a>
        </p>
        <% end %>

        <h3><a href="/gossips/new/">Fais nous part de ton dernier gossip</a></h3>
</body>
</html>