<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Page POTIN</h1>
		<p>Voici la page du potin <% ... %></p>
		<p>Son auteur <% ... %></p>
		<p>LE contenu du potin <% ... %></p>

		<p>Voici le lien pour revenir à la page des potins <a href="GOSSIP">http://localhost:4567/gossips/new/</a></p>

</body>
</html>